<div class="container py-3">
    <h2>Dashboard</h2>
    <div class="alert alert-warning alert-dismissible  show" role="alert">
        <strong>Holy guacamole!</strong> Hurray! you are logged in
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>