{{#section 'style'}}
<link href="/css/card.css" rel="stylesheet" type="text/css">
{{/section}}


	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				<div class="product product-details clearfix">
					<div class="col-md-6">
						<div id="product-main-view">
							<div class="product-view">
								<img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/Untitled-1.jpg" alt="">
							</div>
							<div class="product-view">
								<img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nu/thumbs/300_crop_921668-600_02.jpg" alt="">
							</div>
							<div class="product-view">
								<img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nu/thumbs/300_crop_0000199364273_nike-833662_010_anp_05.jpg" alt="">
							</div>
							<div class="product-view">
								<img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/Untitled-1.jpg" alt="">
							</div>
						</div>
						<div id="product-view">
							<div class="product-view">
								<img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/Untitled-1.jpg" alt="">
							</div>
							<div class="product-view">
								<img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nu/thumbs/300_crop_921668-600_02.jpg" alt="">
							</div>
							<div class="product-view">
								<img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nu/thumbs/300_crop_0000199364273_nike-833662_010_anp_05.jpg" alt="">
							</div>
							<div class="product-view">
								<img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/Untitled-1.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="product-body">
							<div class="product-label">
								<span>New</span>
								<span class="sale">-20%</span>
							</div>
							<h2 class="product-name">Product Name Goes Here</h2>
							<h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<a href="#">3 Review(s) / Add Review</a>
							</div>
							<p><strong>Availability:</strong>Bidding</p>
							<p><strong>Seller:</strong> Ten Nguoi ban goes here !! </p>
                            <p><strong>Buy now for:</strong> $40.50 </p>
                            <p><strong>Time Start :</strong><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></p>
                            <p><strong>Time End_  :</strong><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></p>
							<p>Noi Dung Mo Ta San Pham Goes Here, Viet Mo Ta San Pham</p>

							<div class="product-options">
								<div class="col-lg-4">
                                        <div class="card mb-5 mb-lg-0">
                                            <div class="card-body ">
                                                <div class="timer d-flex justify-content-center">
                                                    <div>
                                                        <span class="num">04</span>
                                                        <small>Days</small>
                                                    </div>
                                                    <div>
                                                        <span class="num">12</span>
                                                        <small>Hours</small>
                                                    </div>
                                                    <div>
                                                        <span class="num">58</span>
                                                        <small>Min</small>
                                                    </div>
                                                    <div>
                                                        <span class="num">02</span>
                                                        <small>Sec</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								
							</div>

							<div class="product-btns">
								<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> BID NOW! </button>
								<div class="pull-right">
									<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="product-tab">
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Owner / Seller</a></li>
								<li><a data-toggle="tab" href="#tab2">Highest Bidder</a></li>
								<li><a data-toggle="tab" href="#tab3">Send Feedback</a></li>
                                <li><a data-toggle="tab" href="#tab4">Detail Product</a></li>
							</ul>
							<div class="tab-content">
								<div id="tab1" class="tab-pane fade in active">
										<div class="single-review">
													<div class="review-heading">
														<div><a href="#"><i class="fa fa-user-o"></i> Seller</a></div>
														<div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
														<div class="review-rating pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o empty"></i>
														</div>
													</div>
													<div class="review-body">
														<p>THONG TIN NGUOI BAN DAT O DAY !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>
                                                        <p><strong>Point: </strong> 9 </p>
													</div>
												</div>

								</div>
                                <div id="tab2" class="tab-pane fade in">
										<div class="single-review">
													<div class="review-heading">
														<div><a href="#"><i class="fa fa-user-o"></i> Highest BIDDER</a></div>
														<div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
														<div class="review-rating pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o empty"></i>
														</div>
													</div>
													<div class="review-body">
														<p>THONG TIN NGUOI DAT GIA CAO NHAT DAT O DAY !!!!!!!!!!!!!!!!</p>
                                                        <p><strong>Point: </strong> 9 </p>
													</div>
												</div>
								</div>
								<div id="tab3" class="tab-pane fade in">
                                    <div class="col-md-6">
											<h4 class="text-uppercase">Write Your Review</h4>
											<p>Your email address will not be published.</p>
											<form class="review-form">
												<div class="form-group">
													<input class="input" type="text" placeholder="Your Name" />
												</div>
												<div class="form-group">
													<input class="input" type="email" placeholder="Email Address" />
												</div>
												<div class="form-group">
													<textarea class="input" placeholder="Your review"></textarea>
												</div>
												<div class="form-group">
													<div class="input-rating">
														<strong class="text-uppercase">Your Rating: </strong>
														<div class="stars">
															<input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
															<input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
															<input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
															<input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
															<input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
														</div>
													</div>
												</div>
												<button class="primary-btn">Submit</button>
											</form>
										</div>



								</div>
                                <div id="tab4" class="tab-pane fade in">
                                    <p>THONG TIN CHI TIET SAN PHAM DAT O DAY!!!!!</p>
                                </div>
							</div>
						</div>
					</div>

				</div>
				<!-- /Product Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

<div class="section">
		<!-- container -->
        
		<div class="container">
			<!-- row -->
				<div class="section-title">
					<h2 class="title">RELATED PRODUCTS</h2>
					<div class="pull-right">
						<div class="product-slick-dots-1 custom-dots"></div>
					</div>
				</div>
			<div class="row">
					<div id="product-slick-1" class="product-slick">
						<!-- Product Single -->
						<div class="product product-single">
							<div class="product-thumb">
								<ul class="product-countdown">
									<li><span>00 H</span></li>
									<li><span>00 M</span></li>
									<li><span>00 S</span></li>
								</ul>
								<button class="main-btn quick-view">Detail</button>
								<img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nu/thumbs/300_crop_916792-100_02.jpg" alt="">
							</div>
							<div class="product-body">
								<h3 class="product-price">$32.50</h3>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
								<div class="product-btns">
									<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
									<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
										Cart</button>
								</div>
							</div>
						</div>
						<!-- /Product Single -->

						<!-- Product Single -->
						<div class="product product-single">
							<div class="product-thumb">
								<ul class="product-countdown">
									<li><span>00 H</span></li>
									<li><span>00 M</span></li>
									<li><span>00 S</span></li>
								</ul>
								<button class="main-btn quick-view">Detail</button>
								<img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nu/thumbs/300_crop_NIKE.png" alt="">
							</div>
							<div class="product-body">
								<h3 class="product-price">$32.50</h3>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
								<div class="product-btns">
									<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
									<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
										Cart</button>
								</div>
							</div>
						</div>
						<!-- /Product Single -->

						<!-- Product Single -->
						<div class="product product-single">
							<div class="product-thumb">
								<ul class="product-countdown">
									<li><span>00 H</span></li>
									<li><span>00 M</span></li>
									<li><span>00 S</span></li>
								</ul>
								<button class="main-btn quick-view">Detail</button>
								<img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/thumbs/300_crop_jordan-express-shoe.jpg" alt="">
							</div>
							<div class="product-body">
								<h3 class="product-price">$32.50</h3>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
								<div class="product-btns">
									<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
									<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
										Cart</button>
								</div>
							</div>
						</div>
						<!-- /Product Single -->
						<!-- Product Single -->
						<div class="product product-single">
							<div class="product-thumb">
								<ul class="product-countdown">
									<li><span>00 H</span></li>
									<li><span>00 M</span></li>
									<li><span>00 S</span></li>
								</ul>
								<button class="main-btn quick-view">Detail</button>
								<img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/thumbs/300_crop_jordan-trunner-lx-shoe.jpg" alt="">
							</div>
							<div class="product-body">
								<h3 class="product-price">$32.50</h3>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
								<div class="product-btns">
									<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
									<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
										Cart</button>
								</div>
							</div>
						</div>
						<!-- /Product Single -->

						<!-- Product Single -->
						<div class="product product-single">
							<div class="product-thumb">
								<ul class="product-countdown">
									<li><span>00 H</span></li>
									<li><span>00 M</span></li>
									<li><span>00 S</span></li>
								</ul>
								<button class="main-btn quick-view">Detail</button>
								<img src="https://www.kingsport.vn/vnt_upload/product/giay_nike_nam/thumbs/300_crop_jordan-formula-23-shoe.jpg" alt="">
							</div>
							<div class="product-body">
								<h3 class="product-price">$32.50</h3>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
								<div class="product-btns">
									<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
									<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> BID NOW</button>
								</div>
							</div>
						</div>
						<!-- /Product Single -->
					</div>
				</div>
			</div>
			<!-- /Product Slick -->
		</div>
     {{!-- row --}}
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->