<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Home</title>

    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
    <link href="/vendors/fonts/slick.ttf">

    <!-- Bootstrap -->
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> --}}
    <link type="text/css" rel="stylesheet" href="/vendors/css/bootstrap.min.css" />


    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/vendors/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/vendors/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/vendors/css/nouislider.min.css" />

    <!-- Font awesome 5 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-0c38nfCMzF8w8DBI+9nTWzApOpr1z0WuyswL4y6x/2ZTtmj/Ki5TedKeUcFusC/k" crossorigin="anonymous" />

    <!-- Font awesome 4 -->
    <link rel="stylesheet" href="/vendors/css/font-awesome.min.css">

    <!-- custom style -->
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    {{{_sections.style}}}



</head>

<body>

    {{> header}}


    {{> navbar}}


    {{!-- {{> breadcumb}} --}}

    <div class="container-fluid">
        {{{body}}}
    </div>



    {{> footer}}



    <!-- jQuery Plugins -->
    <script src="/vendors/js/jquery.min.js"></script>
    <script src="/vendors/js/bootstrap.min.js"></script>
    <script src="/vendors/js/slick.min.js"></script>
    <script src="/vendors/js/nouislider.min.js"></script>
    <script src="/vendors/js/jquery.zoom.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>