<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Home</title>

    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
    <link href="/vendors/fonts/slick.ttf">

    <!-- Bootstrap -->
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> --}}

    <link type="text/css" rel="stylesheet" href="/vendors/css/bootstrap.min.css" />


    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/vendors/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/vendors/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/vendors/css/nouislider.min.css" />

    <!-- Font awesome 5 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-0c38nfCMzF8w8DBI+9nTWzApOpr1z0WuyswL4y6x/2ZTtmj/Ki5TedKeUcFusC/k" crossorigin="anonymous" />

    <!-- Font awesome 4 -->
    <link rel="stylesheet" href="/vendors/css/font-awesome.min.css">

    <!--Sweet Alert2-->
    <script src="/js/sweetalert2.all.min.js"></script>

    <!--JQuery-->
    <script src="/js/jquery-3.4.1.min.js"></script>

    <!-- custom style -->
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    {{{_sections.style}}}



</head>

<body>

    {{> header}}


    {{> navbar}}


    {{> breadcumb}}

    <div class="container-fluid">
        {{{body}}}
    </div>



    {{> footer}}



    <!-- jQuery Plugins -->
    <script src="/vendors/js/jquery.min.js"></script>
    <script src="/vendors/js/bootstrap.min.js"></script>
    <script src="/vendors/js/slick.min.js"></script>
    <script src="/vendors/js/nouislider.min.js"></script>
    <script src="/vendors/js/jquery.zoom.min.js"></script>
    <script src="/js/main.js"></script>

    <!-- bootbox code -->
    <script src="/vendors/js/bootbox.js"></script>
    <script src="/vendors/js/bootbox.locales.js"></script>
    <script>
        $('.add-to-cart').on('click', function (e) {
            let proId = $(this).attr('pro-id');

            let fieldName = $('.btn-number').attr('data-field');
            let input = $("input[name='" + fieldName + "']");
            // Giá đáu giá hiện tại submit
            let currBidPrice = parseInt(input.val());
            let step_cost = parseInt($('.input-number').attr('step_cost'));
            console.log('Gia dau gia :' + currBidPrice);

            bootbox.dialog({
                title: 'XÁC NHẬN',
                message: "<p>Bạn thực sự muốn đấu giá ?</p>",
                size: 'large',
                buttons: {
                    cancel: {
                        label: "I'm a cancel button!",
                        className: 'btn-danger',
                        callback: function () {
                            console.log('Custom cancel clicked');
                        }
                    },
                    ok: {
                        label: "I'm an OK button!",
                        className: 'btn-info',
                        callback: function () {
                            console.log('Custom OK clicked ' + proId);
                            axios.post('/bidders/bid/' + proId, { bidPrice: currBidPrice });
                            /*let newValue = currBidPrice + step_cost;
                            input.val(newValue + ' K');
                            input.attr('min', `${newValue}`);*/

                            setTimeout(function () { bootbox.alert("Giá đấu của bạn đã được ghi nhận! F5 để xem kết quả"); }, 900);
                        }
                    }
                }
            });
        });
    </script>

    <script>
        console.log("Vao day");
        $('.btn-number').click(function (e) {
            e.preventDefault();

            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            // Bước giá
            let step_cost = parseInt($('.input-number').attr('step_cost'));
            let input = $("input[name='" + fieldName + "']");
            let currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {
                    if (currentVal > input.attr('min')) {
                        input.val((currentVal - step_cost) + ' K').change();
                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }
                } else if (type == 'plus') {
                    if (currentVal < input.attr('max')) {
                        input.val((currentVal + step_cost) + ' K').change();
                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }
                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {
            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(
                    ".btn-number[data-type='minus'][data-field='" + name + "']"
                ).removeAttr('disabled');
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(
                    ".btn-number[data-type='plus'][data-field='" + name + "']"
                ).removeAttr('disabled');
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }
        });
        $('.input-number').keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if (
                $.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)
            ) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if (
                (e.shiftKey || e.keyCode < 48 || e.keyCode > 57) &&
                (e.keyCode < 96 || e.keyCode > 105)
            ) {
                e.preventDefault();
            }
        });
    </script>
     <script>
        $('#buttonaddproduct').on('click', function (e) {
           // let currBidPrice = parseInt(input.val());
            let productname  = $('#productname').val();
            let product_typeID = $('#product_type').val();
            let product_price = $('#product_price').val();
            let product_stepcost = $('#product_stepcost').val();
            let product_buynowprice = $('#product_buynowprice').val();
            let product_startdate = $('#datetimepicker1').val();
            let product_enddate = $('#datetimepicker2').val();
            let product_description = $('#product_description').val();
            console.log('TEN SAN PHAM :' + productname);
            console.log('LOAI SAN PHAM ID:' + product_typeID);
            console.log('GIA :' + product_price);
            console.log('STEPCOST :' + product_stepcost);
            console.log('BUYNOW :' + product_buynowprice);
            console.log('Startdate :' + product_startdate);
            console.log('Enddate :' + product_enddate);
            console.log('DESCRIPTION :' + product_description);
            bootbox.dialog({
                title: 'XÁC NHẬN',
                message: "<p>Bạn thực sự muốn đấu giá ?</p>",
                size: 'large',
                buttons: {
                    cancel: {
                        label: "I'm a cancel button!",
                        className: 'btn-danger',
                        callback: function () {
                            console.log('Custom cancel clicked');
                        }
                    },
                    ok: {
                        label: "I'm an OK button!",
                        className: 'btn-info',
                        callback: function () {
                            console.log('Custom OK clicked ');
                            axios.post('/seller/add/', { 
                                productname: productname,
                                product_typeID: product_typeID,
                                product_price: product_price,
                                product_stepcost: product_stepcost,
                                product_buynowprice: product_buynowprice,
                                product_startdate: product_startdate,
                                product_enddate: product_enddate,
                                product_description: product_description});
                            setTimeout(function () { bootbox.alert("THEM THANH CONG"); }, 900);
                        }
                    }
                }
            });
        });
    </script>

</body>

</html>